/* Dentro de src/Components/Admin/AdminLogin/AdminLogin.css */

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ocupa a maior parte da tela */
    background-color: #f8f9fa;
    padding: 20px;
}

.login-container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-title {
    color: #122C4F;
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form input {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.login-form input:focus {
    border-color: #122C4F;
    box-shadow: 0 0 0 3px rgba(18, 44, 79, 0.1);
}

.login-error {
    color: #c0392b;
    font-family: 'Poppins', sans-serif;
    margin-top: -10px;
}

.login-button {
    background-color: #122C4F;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #1a3c6d;
}