/* Dentro de src/index.css */

/* 1. Importa a fonte 'Poppins' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;200&display=swap');

/* 2. Reset Básico e Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  /* overflow-x: hidden; */
}

body {
  /* Fonte Secundária (Poppins) como padrão para o site */
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;

}

::-webkit-scrollbar {
  display: none;
}

/* 3. Classe utilitária para aplicar a fonte Principal (Helnore) */
.fonte-principal {
  /* O navegador usará 'Helnore' se ela estiver instalada no computador. */
  font-family: 'Helnore', sans-serif;
}

/* --- A CORREÇÃO DO STICKY FOOTER ESTÁ AQUI --- */

/* 1. Garante que o container principal da aplicação ocupe no mínimo 100% da altura da tela */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 2. Diz ao nosso container de conteúdo principal (<main>) para crescer e ocupar todo o espaço disponível */
.main-content {
  flex: 1; /* Shorthand for flex-grow: 1; */
}