/* Dentro de src/index.css */

/* 1. Importa a fonte 'Poppins' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;200&display=swap');

/* 2. Reset Básico e Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  /* Fonte Secundária (Poppins) como padrão para o site */
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* 3. Classe utilitária para aplicar a fonte Principal (Helnore) */
.fonte-principal {
  /* O navegador usará 'Helnore' se ela estiver instalada no computador. */
  font-family: 'Helnore', sans-serif;
}

